<plugin name='angularjs-resources' version='0.2.0' grailsVersion='2.0 &gt; *'>
  <author>Vladimír Oraný</author>
  <authorEmail>vladimir.orany@appsatori.eu</authorEmail>
  <title>AngularJS Resources Plugin</title>
  <description>Angular JS resources plugin.</description>
  <documentation>http://grails.org/plugin/angularjs-resources</documentation>
  <type>AngularjsResourcesGrailsPlugin</type>
  <resources>
    <resource>AngularjsResourcesPluginResources</resource>
    <resource>AngularjsResourcesUrlMappings</resource>
    <resource>angularjs.Nge2eController</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements>
    <plugin name='resources' version='1.1.6 &gt; *' />
  </runtimePluginRequirements>
  <behavior />
</plugin>