<plugin name='angularjs-resources' version='1.0.8' grailsVersion='2.0 &gt; *'>
  <author>Sandro Martini, originally developed by Vladimír Oraný</author>
  <authorEmail>sandro.martini@gmail.com</authorEmail>
  <title>AngularJS Resources Plugin</title>
  <description>Angular JS resources plugin</description>
  <documentation>http://smartiniongithub.github.com/grails-angularjs-resources/</documentation>
  <type>AngularjsResourcesGrailsPlugin</type>
  <resources>
    <resource>AngularjsResourcesPluginResources</resource>
    <resource>AngularjsResourcesUrlMappings</resource>
    <resource>angularjs.Nge2eController</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements>
    <plugin name='resources' version='1.1.6 &gt; *' />
  </runtimePluginRequirements>
  <behavior />
</plugin>