.DS_Store
.hg
.svn
.git
.gradle
.cache
.metadata
.settings
.classpath
.project
*.log
*.iws
.idea/
*.iml
*.md5
*.sha1
# *Db.properties
# *Db.script
*~*
# *~
*.bak
*.class
Thumbs.db
*.db
*.zip
*.tar
*.tar.gz
*.ser
_old
bin
build
buildPlugins
classes
dist
out
private
# server
target
target-eclipse
temp
tmp
/plugin.xml
/*DB.*
/.link_to_grails_plugins/
/web-app/WEB-INF/classes
